@charset "UTF-8";
:root {
    --clr-bg-main: hsl(179, 62%, 43%);
    --clr-bg-accent: hsl(71, 73%, 54%);
    --clr-bg-main-ltr: hsl(179, 65%, 50%);

    --clr-text-100: hsl(204, 43%, 93%);
    --clr-text-400: hsl(218, 22%, 67%);

    --ff-main: 'Karla';
}   

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Global Styles ***/

html {
    font-size: 16px;
    font-family: var(--ff-main);
    background-color: var(--clr-text-100);
}

h1,
h2,
h3,
p {
    margin: 1rem 0;
}

#intro p,
#info p {
    line-height: 1.5rem;
    margin-bottom: 0;
}

.container {
    background-color: white;
}

.content {
    padding: 1rem;
}

/*** Intro Styles ***/

h1 {
    color: var(--clr-bg-main);
}

#intro h2 {
    color: var(--clr-bg-accent);
    font-size: 1.125rem;
    font-weight: bold;
}

#intro p {
    color: var(--clr-text-400);
}

/*** Price Styles ***/
#price {
    background-color: var(--clr-bg-main);
    color: var(--clr-text-100);
}

#price span {
    font-size: 2rem;
}

button {
    width: 100%;
    height: 2.5rem;
    background-color: var(--clr-bg-accent);
    border-radius: 5px;
    border-style: none;
    color: var(--clr-text-100);
    font-weight: bold;
    letter-spacing: 1.5px;
}

/*** Info Styles ***/
#info {
    background-color: var(--clr-bg-main-ltr);
    color: var(--clr-text-100);
}

@media (min-width: 768px) {
    h1,
    h2,
    h3 {
        margin-top: 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .full-width {
        width: 100%;
    }

    .half-width {
        width: 50%;
    }
}